* {
    font-family: 'Oxygen', sans-serif;
    text-align: center;
    color: rgb(41, 41, 41);
 }

 img {
    max-width: 100%;
    padding: 20px 0;
    
 }
 
 #list {
    width: 100px;
    height: 100px;
 }

 #profile {
    height: 200px;;
 }

 body {
     padding: 5%;
     background-color: rgb(230, 252, 238);
 }

 a {
     padding: 0;
     text-decoration: none;
     margin-right: 50px;
 }

 a:hover {
    color:#A35;

 }

 .project { 
     transition: all .2s ease-in-out; 
    }
    
 .project:hover {
     transform: scale(1.1); 
 }

 li {
     text-transform: uppercase;
     list-style-type: none;
     font-weight: 900;
     font-size: 18px;
     padding-bottom: 30px;
 }

 #bio {
     font-size: 20px;
     font-weight: 300;
     color:#A35;
     font-family: 'Open Sans', sans-serif;
 }

 #portfolio {
     padding-bottom: 40px;
     padding-top: 75px;
     text-transform: uppercase;
     font-size: 18px;
     font-weight: bolder;
     padding-right: 0px;
 }

 p {
     font-size: 20px;
 }

 footer {
     display: flex;
     justify-content: space-between;
     border-top: 1px solid grey;
     margin-top: 70px;
 }

 .top {
     margin: 23px 0;
 }

 #contact { 
     padding-top: 100px;
 }

 .nav-footer {
     display: none;
 }

@media only screen and (min-width: 768px) {
    nav {
        display: flex;
        display: inline-block;
    }

    li {
        display: flex;
        display: inline-block;
    }

    #profile {
        float: right;
        margin: 0 auto;
        padding-left: 8px;
        
    }

    .section-1 {
        display: flex;
    }

    #bio {
        text-align: left;
    }

    body{
        background: white;
    }

    .project {
        float: left;
        width: 45%;
        margin: auto;
    }

    .project:nth-child(odd) {
        margin-right: 5%;
        
    }
    .section-last {
        display: inline-block;
    }

    .top {
        display: none;
    }

    .nav-footer {
        display: flex;
    }

    .project img {
        max-width: 95%;
    }

    #portfolio {
        margin-right: 75px;
    }

    
}

@media only screen and (min-width: 1024px) {
    
    header {
        display:flex;
        justify-content:space-between;
    }
    
    .project {
        width: 30%;
        padding: 10px;
        margin: auto;
        justify-content: center;
    }

    .project img {
        max-width: 95%;
    }

    .project:nth-child(even) {
        margin: 0;
    }


    .project:nth-child(2),
    .project:nth-child(5) {
        margin-right: 0;
        
    }

    .project:nth-child(odd) {
        margin-right: 0;
    }

    nav {
        margin: initial;
        
    }

    footer {
        margin-top: 200px;
    }

    #portfolio {
        margin-right: 20px;
    }


}